<a href="https://colab.research.google.com/github/mohsina680/BuildablesDataScienceFellowship/blob/main/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q:1

In [6]:
#Take the two inputs from user and give there sum

No_1 = float(input("Enter the 1st number: "))
No_2 = float(input("Enter the 2nd number: "))
sum = No_1 + No_2
print("output ", sum )

Enter the 1st number: 3
Enter the 2nd number: 4
output  7.0

Q:2

In [10]:
Radius = float(input("Enter the radius: "))
Area_of_Circle = float(3.14*Radius*Radius)
print("output ", Area_of_Circle)

Enter the radius: 5
output  78.5

Q:3 Even/Odd

In [14]:
number = int(input("enter the number: "))
if number%2 == 0:
  print(number,"number is even")
else:
  print(number,"number is odd")

enter the number: 7
7 number is odd

Q:4 Simple Calculator

In [16]:
num1 = input("enter the 1st number: ")
num2 = input("enter the 2nd number: ")

sum = float(num1) + float(num2)
sub = float(num1) - float(num2)
div = float(num1) / float(num2)
if num2 == 0:
 print("Division by Zero is not possible")

mul = float(num1) * float(num2)

print("Enter the Operation: +,-,/,*")
operation = input()

if operation == '+':
  print("The Result is: ",sum)
elif operation == '-':
  print("The Result is: ",sub)
elif operation == '/':
  print("The Result is: ",div)
elif operation == '*':
  print("The Result is: ",mul)
else:
  print("Invalid Operation")

enter the 1st number: 10
enter the 2nd number: 3
Enter the Operation: +,-,/,*
/
The Result is:  3.3333333333333335

Q5: Largest Number

In [18]:
num_1= input("Enter first number: ")
num_2= input("Enter second number: ")
num_3= input("Enter third number: ")

if num_1 >= num_2 and num_1 >= num_3:
  largest = num_1
  print("The largest number is: ",largest)
elif num_2 >= num_1 and num_2 >= num_3:
  largest = num_2
  print("The largest number is: ",largest)
else:
  largest = num_3
  print("The largest number is: ",largest)

Enter first number: 23
Enter second number: 26
Enter third number: 18
The largest number is:  26

Q6: Reverse a String

In [19]:
String = input("Enter the String: ")
Reverse_String = String[::-1]
print("The Reverse String is: ",Reverse_String)

Enter the String: hello
The Reverse String is:  olleh

Q7: Count vowels

In [36]:
String_1 = input("Enter the string: ")
Vowels = "aeiouAEIOU"
Vowels_count=0
for char in String_1:
    if char in Vowels:
        Vowels_count += 1

print("The number of vowels in the string is: ",Vowels_count)

Enter the string: Ali
The number of vowels in the string is:  2

Q8: Fibonacci sequence

In [40]:
n = int(input("How many terms? "))

a, b = 0, 1
print("Fibonacci sequence:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

How many terms? 5
Fibonacci sequence:
0 1 1 2 3

Q9: Check for Palindrome

In [41]:
text = input("Enter a string: ")

# Check if palindrome
if text == text[::-1]:
    print(text, "is a palindrome")
else:
    print(text, "is not a palindrome")

Enter a string: radar
radar is a palindrome